<div class="card" data-id={{card.id}} data-audio={{card.audioSrc}}>
            <div class="front">
                <div class="img-card" style="background-image: url('../../../{{card.image}}')"></div>
                <div class="description">
                    <div class="description-string">
                        <div class="description-title">{{card.word}}</div>
                        <div class="roll-button"><img src="../../../img/arrow.svg" alt="" class="arrow"></div>
                    </div>            
                    <div class="description-string">
                        <div class="condition-wrapper">
                            <div class="condition"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="img-card" style="background-image: url('../../../{{card.image}}')"></div>
                <div class="description">
                    <div class="description-string">
                        <div class="description-title">{{card.translation}}</div>
                    </div>
                    <div class="description-string">
                        <div class="condition-wrapper">
                            <div class="condition"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>